<div id="borrower-data" class="well col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" *ngIf="borrower">
  <div [hidden]="inFormMode">
    <p class="col-xs-4">
      <span>${{ borrower.balance | number }}</span>
      <small class="text-muted">Balance</small>
    </p>
    <p class="col-xs-4">
      <span>${{ borrower.availableFunds | number }}</span>
      <small class="text-muted">Available funds</small>
    </p>
    <p class="col-xs-4">
      <span>${{ borrower.creditLimit | number }}</span>
      <small class="text-muted">Credit limit</small>
    </p>
    <span class="text-right">
      <button type="button" class="btn btn-sm btn-success" (click)="showWithdrawForm()">MAKE A DRAW</button>
    </span>
  </div>
  <app-withdraw-form (withdrawMade)="refreshData($event)" [hidden]="!inFormMode" [userId]="borrower.id" [amount]="withdraw"></app-withdraw-form>
</div>
